<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <title>AZZ - share your day</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    input.custom-input{
      width: 17vw;
      height: 6vh;
      border: none;
      outline: 2px solid transparent; /* 기본적으로 투명 테두리 */
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* 내부 음영 */
      padding: 5px;
      font-size: 14px;
      color: rgb(103,176,209); /* 입력 내용의 글자 색 */
      transition: outline-color 0.3s ease; /* 테두리 색상 변환 */
      text-align: center;
    }
    input.custom-input::placeholder {
      color: rgb(103,176,209); /* placeholder의 글자 색 */
    }
    input.custom-input:focus {
      outline-color: rgb(103,176,209); /* 포커스 시 테두리 색상 변경 */
    }
    #customSelect{
      border: none;
      outline: 2px solid transparent; /* 기본적으로 투명 테두리 */
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* 내부 음영 */
      padding: 5px;
      font-size: 14px;
      color: rgb(103,176,209); /* 입력 내용의 글자 색 */
      transition: outline-color 0.3s ease; /* 테두리 색상 변환 */
      text-align: center;
    }
    #signUpDiv{
      width:40vw;
      height:70vh;
      border: none;
      outline: 2px solid transparent; /* 기본적으로 투명 테두리 */
      /*box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2); !* 내부 음영 *!*/
      box-shadow: 0 4px 8px rgba(0,0,0,0.4);
      /*padding: 5px;*/
      font-size: 14px;
      color: rgb(103,176,209); /* 입력 내용의 글자 색 */
      text-align: center;
    }
  </style>
  <script>
    var emailFlag = false;
    var addressFlag = false;
    var phoneFlag = false;
    var passwordFlag = false;
    function sendSignInForm(){
      const form = document.getElementById('signInForm');
      form.submit();
    }

    function formatName(input) {
      // 숫자만 남기기
      let value= input.value;
      // 최대 길이는 8자리까지만
      if (value.length > 10) {
        value = value.slice(0, 10);
      }
      input.value = value;
    }


    function formatBirthday(input) {
      // 숫자만 남기기
      let value = input.value.replace(/\D/g, '');
      // 최대 길이는 8자리까지만
      if (value.length > 8) {
        value = value.slice(0, 8);
      }
      // YYYY-MM-DD 형식으로 변환
      if (value.length > 4) {
        value = value.slice(0, 4) + '-' + value.slice(4);
      }
      if (value.length > 7) {
        value = value.slice(0, 7) + '-' + value.slice(7);
      }
      // 입력 필드에 값 설정
      input.value = value;
    }
    function formatCall(input) {
      // 숫자만 남기기
      let value = input.value.replace(/\D/g, '');
      // 최대 길이는 8자리까지만
      if (value.length > 8) {
        value = value.slice(0, 8);
      }
      // YYYY-MM-DD 형식으로 변환
      if (value.length > 4) {
        value = value.slice(0, 4) + '-' + value.slice(4);
      }
      // 입력 필드에 값 설정
      input.value = value;
    }

    function formatPassword(){
      if($("#pw").val().length>10){
        $("#pw").val($("#pw").val().slice(0,10));
      }
      if($("#pw2").val().length>10){
        $("#pw2").val($("#pw2").val().slice(0,10));
      }
      if($("#pw").val()==$("#pw2").val()){
        $("#passwordCompare").attr("hidden", true);
        passwordFlag=true;
      }else{
        $("#passwordCompare").attr("hidden", false);
        passwordFlag=false;
      }

    }

    function handleSelectChange() {
      var select = document.getElementById("customSelect");
      var emailInput = document.getElementById("emailInput");

      // 기본 선택값이 아닌 다른 값이 선택되면
      if (select.value !== "") {
        // emailInput의 값 지우기 및 비활성화
        emailInput.value = "";
        emailInput.disabled = true;
        $("#emailRight").val($("#customSelect").val());

      } else {
        // 기본 선택값일 때는 emailInput을 활성화
        emailInput.disabled = false;
        $("#emailRight").val($("#emailInput").val());
      }
    }

    function signUpAjax(){
      if($("[name=name]").val().length==0){
        alert("이름을 입력해주세요.");
        return;
      }
      if($("[name=birth]").val().length!=10){
        alert("생일을 입력해주세요.");
        return;
      }
      if($("#pw").val().length<4){
        alert("비밀번호는 4~10자 입니다.")
        return;
      }
      if($("[name=addressMain]").val().length==0){
        alert("주소를 입력해주세요.");
        return;
      }
      if(!(passwordFlag&&emailFlag&&addressFlag&&phoneFlag)){
        alert("정보를 다시 확인해주세요.");
        return;
      }


      var formData = $('form[name="signUpForm"]').serialize();

      // AJAX 요청
      $.ajax({
        type: "POST",
        url: "/login/signUp",
        data: formData,
        success: function(response) {
          alert(response);
          // 서버 응답 처리 로직
        },
        error: function(error) {
          alert("An error occurred.");
          // 에러 처리 로직
        }
      });
    }


    function sample4_execDaumPostcode() {
      new daum.Postcode({
        oncomplete: function(data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var roadAddr = data.roadAddress; // 도로명 주소 변수
          var extraRoadAddr = ''; // 참고 항목 변수

          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraRoadAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if(extraRoadAddr !== ''){
            extraRoadAddr = ' (' + extraRoadAddr + ')';
          }

          $("[name=addressMain]").val(roadAddr);
          addressFlag=true;

        }
      }).open();
    }

// 유효성 검사 및 중복 확인

    function confirmPhone(){
      if($("[name=phone]").val().length!=9){
        alert("8자리 숫자를 입력해주세요.");
        $("[name=phone]").val("");
        return;
      }
      var formData = $('form[name="signUpForm"]').serialize();

      // AJAX 요청
      $.ajax({
        type: "POST",
        url: "/login/confirmPhone",
        data: formData,
        success: function(response) {
          if(response==1){
            if(confirm("사용 가능한 번호 입니다. 사용 하시겠습니까?")){
              $("[name=phone]").prop("readonly",true);
              phoneFlag=true;
            }else{
              $("[name=phone]").val("");
            }
          }else{
            alert("사용 불가능한 번호 입니다.");
            $("[name=phone]").val("");
          }
          // 서버 응답 처리 로직
        },
        error: function(error) {
          alert("An error occurred.");
          // 에러 처리 로직
        }
      });
    }

    function confirmEmail(){
      if($("[name=emailLeft]").val().length==0 || $("[name=emailRight]").val().length==0){
        alert("Email을 입력해주세요.");
        return;
      }
      var formData = $('form[name="signUpForm"]').serialize();

      // AJAX 요청
      $.ajax({
        type: "POST",
        url: "/login/confirmEmail",
        data: formData,
        success: function(response) {
          if(response==1){
            if(confirm("사용 가능한 메일 입니다. 사용 하시겠습니까?")){
              $("[name=emailLeft]").prop("readonly",true);
              $("[id=customSelect]").prop("disabled",true);
              $("[id=emailInput]").prop("readonly",true);
              emailFlag=true;
            }else{
              $("[name=emailLeft]").val("");
            }
          }else{
            alert("사용 불가능한 메일 입니다.");
            $("[name=emailLeft]").val("");
            $("[name=emailRight]").val("");
          }
          // 서버 응답 처리 로직
        },
        error: function(error) {
          alert("An error occurred.");
          // 에러 처리 로직
        }
      });
    }
  </script>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">AZZ</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#signIn">Sign In</a></li>
          <li><a href="#signUp">Sign Up</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Welcome to AZZ</h2>
        <p>WHAT'S ON TODAY'S MENU? SHOW IT AND SHARE IT</p>
        <a href="#about" class="btn-scroll" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>AZZ에서 당신의 메뉴를 보여주세요</h3>
            <p>
            </p>
            <a href="#" class="about-btn align-self-center align-self-xl-start"><span>About us</span> <i class="bi bi-chevron-right"></i></a>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-cloud-arrow-up"></i>
                <h4><a href="" class="stretched-link">나의 하루를 공유</a></h4>
                <p>매일 찾아오는 식사 시간. 사진과 함께 기록하고 공유하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-chat-left-text"></i>
                <h4><a href="" class="stretched-link">그룹, 친구들과의 소통</a></h4>
                <p>나의 메뉴를 보여주고, 지인의 하루도 확인하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-map"></i>
                <h4><a href="" class="stretched-link">가보고싶은 식당</a></h4>
                <p>누군가 후기를 남긴 식당을 확인하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-heart"></i>
                <h4><a href="" class="stretched-link">셀럽들의 식사</a></h4>
                <p>내가 좋아하는 셀럽의 메뉴에 반응을 남기세요</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>How To Start</h2>
        <p>간편하게 가입하고, 지인들과 관계를 맺고, 글을 게시하세요</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-envelope icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Sign Up & In</a></h4>
              <p>간단한 정보로 가입 가능합니다. 원한다면 기존 sns 계정으로 시작하세요!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-person-square icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Create Profile</a></h4>
              <p>나의 프로필을 채워 다른사람들에게 소개해주세요</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-people icon"></i></div>
              <h4><a href="#singIn" class="stretched-link">Follow & Join</a></h4>
              <p>관심있는 사람을 follow 하고 원하는 그룹에 join 해서 소식을 받으세요</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-instagram icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Posting</a></h4>
              <p>나의 아침 점심 저녁 그리고 하루를 기록하고 지인에게 공유하세요</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="signIn" class="call-to-action section accent-background" style="height:100vh;">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">

        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <form id="signInForm" action="/signIn" method="post">
            <div class="text-center" style="margin-top: 6vh;">
              <h2>Sign In</h2>
              <div style="height:3vh"></div>
              <div style="width:70%; height:36vh; background-color: white; box-shadow: 0 4px 8px rgba(0,0,0,0.4);margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column">

                <div class="container-fluid">
                  <div class="row mb-3">
                    <div class="col-3 d-flex align-items-center">
                      <span style="width:14vw; font-size:2.5vw; color:rgb(103,176,209)">ID</span>
                    </div>
                    <div class="col-9 mt-2">
                      <input name="username" style="width:80%" class="custom-input" type="text" placeholder="example@domain.com">
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-3">
                      <span style="width:14vw; font-size:2.5vw; color:rgb(103,176,209)">PW</span>
                    </div>
                    <div class="col-9 mt-2">
                      <input name="password" style="width:80%" class="custom-input" type="password" placeholder="**********">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col" style="display: flex; justify-content: flex-end;">
                      <span style="width:5vw; font-size:1vw; color:rgb(103,176,209)">카톡사진</span>
                      <span style="width:10vw; font-size:1vw; color:rgb(103,176,209)">카카오톡 로그인</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="display: flex; justify-content: flex-end;">
                      <span style="width:8vw; font-size:1vw; color:rgb(103,176,209)">ID/PW 찾기</span>
                    </div>
                  </div>
                </div>

              </div>

              <button th:onclick="sendSignInForm()" type="button" class="cta-btn" style="background-color: transparent">Enter</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

<!--     Contact Section -->
        <section id="signUp" class="contact section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Sign Up</h2>

          </div><!-- End Section Title -->

          <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row d-flex justify-content-center">

              <div class="col-lg-5">
                <form name="signUpForm">
                <div class="info-wrap">
<!--                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200" style="height:4vh">-->
<!--                  </div>-->
<!--                  이름 / 생일-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-person-circle flex-shrink-0"></i>
                    <div style="width:100%">
                      <input name="name" oninput="formatName(this)" class="custom-input" style="height:4vh; width:48%" type="text" placeholder="Name">
                      <input name="birth" oninput="formatBirthday(this)" class="custom-input" style="height:4vh; width:48%" type="text" placeholder="Birth ex)1995-11-17">
                    </div>
                  </div>
<!--                    이메일-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div style="width:100%">
                      <input name="emailLeft" class="custom-input" style="height:4vh; width:50%" type="text" placeholder="this Email is your ID">&nbsp;&nbsp;@&nbsp;
                      <select id="customSelect" th:onchange="handleSelectChange()" style="height:4vh; width:40%">
                        <option value="">직접 입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="google.com">google.com</option>
                        <option value="daum.net">daum.net</option>
                      </select>
                      <input id="emailRight" name="emailRight" style="visibility: hidden; height:4vh; width:30%;">
                      <button th:onclick="confirmEmail()" type="button" style=" height:3vh; width:26%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Confirm</button>
                      <input th:oninput="handleSelectChange()" id="emailInput" class="mt-1 custom-input" style="height:4vh; width:40%" type="text" placeholder="  ">
                    </div>
                  </div>
<!-- 비밀번호-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-p-circle flex-shrink-0"></i>
                    <div style="width:100%">
                      <input id="pw" name="password" oninput="formatPassword()" class="custom-input" style="height:4vh; width:48%" type="password" placeholder="4~10자리 비밀번호">
                      <input id="pw2" oninput="formatPassword()" class="custom-input" style="height:4vh; width:48%" type="password" placeholder="비밀번호 재입력">
                      <span hidden id="passwordCompare" style="font-size:10px; width:50%">비밀번호가 서로 다릅니다</span>
                    </div>

                  </div>

                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div class="container-fluid">
                      <div class="row mb-1">
                        <div class="col-12 g-0">
                          <input name="addressMain" readonly class="custom-input" style="height:4vh; width:100%" type="text" placeholder="Search를 이용해주세요">
                        </div>
                      </div>
                      <div class="row d-flex">
                        <div class="col-7 g-0">
                          <input name="addressSub" class="custom-input" style="height:4vh; width:100%" type="text" placeholder="상세 주소">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                          <button th:onclick="sample4_execDaumPostcode()" type="button" style="text-align: center;height: 4vh; width:100%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Search</button>
                        </div>
                        <div class="col-1">
                        </div>
                      </div>
                    </div>
                  </div><!-- End Info Item -->

                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-7 g-0">
                          <input name="phone" oninput="formatCall(this)" class="custom-input" style="height:4vh; width:100%" type="text" placeholder=" 뒷 8자리 ex) 0000-0000">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3 mt-1">
                          <button th:onclick="confirmPhone()" type="button" style="width:100%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Confirm</button>
                        </div>
                        <div class="col-1"></div>
                      </div>
                    </div>
                  </div>
                  <div class="info-item d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                      <button th:onclick="signUpAjax()" type="button" class="formBt formSendBt" style="width:8vw; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Join</button>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>

        </section><!-- /Contact Section -->


  </main>

  <footer id="footer" class="footer dark-background">



    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Squadfree</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>