<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <title>AZZ - share your day</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="assets/js/custom.js"></script>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">AZZ</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#home" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#signIn">Sign In</a></li>
          <li><a href="#signUp">Sign Up</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="home" class="hero section accent-background">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Welcome to AZZ</h2>
        <p>WHAT'S ON TODAY'S MENU? SHOW IT AND SHARE IT</p>
        <a href="#about" class="btn-scroll" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>AZZ에서 당신의 메뉴를 보여주세요</h3>
            <p>
            </p>
            <a href="#signUp" class="about-btn align-self-center align-self-xl-start"><span>start now</span> <i class="bi bi-chevron-right"></i></a>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-cloud-arrow-up"></i>
                <h4><a href="" class="stretched-link">나의 하루를 공유</a></h4>
                <p>매일 찾아오는 식사 시간. 사진과 함께 기록하고 공유하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-chat-left-text"></i>
                <h4><a href="" class="stretched-link">그룹, 친구들과의 소통</a></h4>
                <p>나의 메뉴를 보여주고, 지인의 하루도 확인하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-map"></i>
                <h4><a href="" class="stretched-link">가보고싶은 식당</a></h4>
                <p>누군가 후기를 남긴 식당을 확인하세요</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <i class="bi bi-heart"></i>
                <h4><a href="" class="stretched-link">셀럽들의 식사</a></h4>
                <p>내가 좋아하는 셀럽의 메뉴에 반응을 남기세요</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>How To Start</h2>
        <p>간편하게 가입하고, 지인들과 관계를 맺고, 글을 게시하세요</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-envelope icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Sign Up & In</a></h4>
              <p>간단한 정보로 가입 가능합니다. 원한다면 기존 sns 계정으로 시작하세요!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-person-square icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Create Profile</a></h4>
              <p>나의 프로필을 채워 다른사람들에게 소개해주세요</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-people icon"></i></div>
              <h4><a href="#singIn" class="stretched-link">Follow & Join</a></h4>
              <p>관심있는 사람을 follow 하고 원하는 그룹에 join 해서 소식을 받으세요</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-instagram icon"></i></div>
              <h4><a href="#signIn" class="stretched-link">Posting</a></h4>
              <p>나의 아침 점심 저녁 그리고 하루를 기록하고 지인에게 공유하세요</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="signIn" class="call-to-action section accent-background" style="height:100vh;">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">

        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <form id="signInForm" action="/signIn" method="post">
            <div class="text-center" style="margin-top: 6vh;">
              <h2>Sign In</h2>
              <div style="height:3vh"></div>
              <div style="width:70%; height:36vh; background-color: white; box-shadow: 0 4px 8px rgba(0,0,0,0.4);margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column">

                <div class="container-fluid">
                  <div class="row mb-3">
                    <div class="col-3 d-flex align-items-center">
                      <span style="width:14vw; font-size:2.5vw; color:rgb(103,176,209)">ID</span>
                    </div>
                    <div class="col-9 mt-2">
                      <input name="username" style="width:80%" class="custom-input" type="text" placeholder="example@domain.com">
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-3">
                      <span style="width:14vw; font-size:2.5vw; color:rgb(103,176,209)">PW</span>
                    </div>
                    <div class="col-9 mt-2">
                      <input name="password" style="width:80%" class="custom-input" type="password" placeholder="**********">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col" style="display: flex; justify-content: flex-end;">
                      <div style="width:5vw; height:4vh; font-size:1vw; color:rgb(103,176,209)">
                        <img onclick="window.location.href='/kakaoLogin'" alt="kakaoLogin" src="/assets/img/custom/kakao.png" style="all:unset; width: 4vh;object-fit: cover; height: 4vh;">
                      </div>
<!--                      <span style="width:10vw; font-size:1vw; color:rgb(103,176,209)">카카오톡 로그인</span>-->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="display: flex; justify-content: flex-end;">
                      <span style="width:8vw; font-size:1vw; color:rgb(103,176,209)">ID/PW 찾기</span>
                    </div>
                  </div>
                </div>

              </div>

              <button th:onclick="sendSignInForm()" type="button" class="cta-btn" style="background-color: transparent">Enter</button>
            </div>
            </form>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

<!--     Contact Section -->
        <section id="signUp" class="contact section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Sign Up</h2>

          </div><!-- End Section Title -->

          <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row d-flex justify-content-center">

              <div class="col-lg-5">
                <form name="signUpForm">
                <div class="info-wrap">
<!--                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200" style="height:4vh">-->
<!--                  </div>-->
<!--                  이름 / 생일-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-person-circle flex-shrink-0"></i>
                    <div style="width:100%">
                      <input name="name" oninput="formatName(this)" class="custom-input" style="height:4vh; width:48%" type="text" placeholder="Name">
                      <input name="birth" oninput="formatBirthday(this)" class="custom-input" style="height:4vh; width:48%" type="text" placeholder="Birth ex)1995-11-17">
                    </div>
                  </div>
<!--                    이메일-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div style="width:100%">
                      <input name="emailLeft" class="custom-input" style="height:4vh; width:50%" type="text" placeholder="this Email is your ID">&nbsp;&nbsp;@&nbsp;
                      <select id="customSelect" th:onchange="handleSelectChange()" style="height:4vh; width:40%">
                        <option value="">직접 입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="google.com">google.com</option>
                        <option value="daum.net">daum.net</option>
                      </select>
                      <input id="emailRight" name="emailRight" style="visibility: hidden; height:4vh; width:30%;">
                      <button th:onclick="confirmEmail()" type="button" style=" height:3vh; width:26%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Confirm</button>
                      <input th:oninput="handleSelectChange()" id="emailInput" class="mt-1 custom-input" style="height:4vh; width:40%" type="text" placeholder="  ">
                    </div>
                  </div>
<!-- 비밀번호-->
                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-p-circle flex-shrink-0"></i>
                    <div style="width:100%">
                      <input id="pw" name="password" oninput="formatPassword()" class="custom-input" style="height:4vh; width:48%" type="password" placeholder="4~10자리 비밀번호">
                      <input id="pw2" oninput="formatPassword()" class="custom-input" style="height:4vh; width:48%" type="password" placeholder="비밀번호 재입력">
                      <span hidden id="passwordCompare" style="font-size:10px; width:50%">비밀번호가 서로 다릅니다</span>
                    </div>

                  </div>

                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div class="container-fluid">
                      <div class="row mb-1">
                        <div class="col-12 g-0">
                          <input name="addressMain" readonly class="custom-input" style="height:4vh; width:100%" type="text" placeholder="Search를 이용해주세요">
                        </div>
                      </div>
                      <div class="row d-flex">
                        <div class="col-7 g-0">
                          <input name="addressSub" class="custom-input" style="height:4vh; width:100%" type="text" placeholder="상세 주소">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                          <button th:onclick="sample4_execDaumPostcode()" type="button" style="text-align: center;height: 4vh; width:100%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Search</button>
                        </div>
                        <div class="col-1">
                        </div>
                      </div>
                    </div>
                  </div><!-- End Info Item -->

                  <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-7 g-0">
                          <input name="phone" oninput="formatCall(this)" class="custom-input" style="height:4vh; width:100%" type="text" placeholder=" 뒷 8자리 ex) 0000-0000">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3 mt-1">
                          <button th:onclick="confirmPhone()" type="button" style="width:100%; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Confirm</button>
                        </div>
                        <div class="col-1"></div>
                      </div>
                    </div>
                  </div>
                  <div class="info-item d-flex justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                      <button th:onclick="signUpAjax()" type="button" class="formBt formSendBt" style="width:8vw; border-radius: 10px; color: rgb(103,176,209); background-color: white; border: 1px solid rgb(103,176,209) ;">Join</button>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>

        </section><!-- /Contact Section -->


  </main>

  <footer id="footer" class="footer dark-background">



    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Squadfree</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>